/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@use "./scss/_animations.scss" as *;

.dmwpb__block--animation {
	animation-play-state: paused;
	will-change: transform, opacity, filter;

	&.dmwpb__do--animation {
		animation-play-state: running;
	}

	&.do--backwards {
		animation-direction: normal !important;
		animation-fill-mode: forwards !important;
	}
	
	&.do--forwards {
		animation-direction: reverse !important;
		animation-fill-mode: backwards !important;
	}
}


// Starting styles for each animation type.
.dmwpb__block--animation {
	filter: blur(var(--blur, 0px));

	&--fade-in {
		opacity: 0;
	}

	&--fade-in-top {
		opacity: 0;
    transform: translateY(40px);
	}
	
	&--fade-in-right {
		opacity: 0;
    transform: translateX(40px);
	}

	&--fade-in-bottom {
		opacity: 0;
    transform: translateY(-40px);
	}

	&--fade-in-left {
		opacity: 0;
    transform: translateX(-40px);
	}

	&--scale-up {
		opacity: 0;
		transform: scale(0);
	}

	&--scale-down {
		opacity: 0;
		transform: scale(2);
	}

	&--slide-in-top {
    transform: translateY(40px);
	}
	
	&--slide-in-right {
    transform: translateX(40px);
	}

	&--slide-in-bottom {
    transform: translateY(-40px);
	}

	&--slide-in-left {
    transform: translateX(-40px);
	}
}